/*MAIN STYLE*/
@font-face {
  font-family: Evolve Sans Medium EVO;
  src: url("../fonts/Evolve_Sans_Medium_EVO.otf");
}

@font-face {
  font-family: Evolve Sans Thin EVO;
  src: url("../fonts/Evolve_Sans_Thin_EVO.otf");
}



* {
	margin: 0;
	padding: 0;
}

.section {
	height: 100vh !important;
	width: 100% !important;
}

.name {
	font-size: 3vw !important;
	padding: 5px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 50px;
    height: 50px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}



.about, .portfolio, .fos, .services, .about_min, .main {
	position: relative;
	overflow: hidden;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: inherit;
	color: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

body {
	height: 100%;
	background-color: #16161b;
	color: #ffffff;
	font-family: Evolve Sans Thin EVO;
}

.title-red {
	color: #7d1212;
}
/*MAIN STYLE*/

/*MAIN*/
.main {
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100% !important;
	position: relative;
}

.big_circle {
	position: absolute;
	width: 90%;
	animation: main 60s infinite linear;
	overflow: hidden;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small_circle {
	position: absolute;
	width: 80%;
	animation: main 55s infinite linear;
	overflow: hidden;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio_mob {
	display: none;
}

@keyframes main {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.maie_name {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.main_title {
	font-size: 13vw;
	letter-spacing: 5px;
	position: relative;
	margin: 0;
	padding: 0;
}

.main_title::before {
	content: "веб-студия";
	position: absolute;
	top: -30%;
	left: 0%;
	font-size: 3vw;
	align-self: center;
}

.main_title::after {
	content: "AGENCY";
	position: absolute;
	top: 85%;
	right: 5%;
	font-size: 4vw;
}

.btn-next-right {
	width: 50px;
	height: 50px;
	background: transparent url('../img/fig_2.png') no-repeat center;
	position: absolute;
	right: 0.5%;
	top: 50%;
}

.slide-nav {
	width: 25%;
	height: 10%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.slide-btn {
	border-radius: 50%;
	border: 1px solid #fafafa;
	background-color: inherit;
	width: 20px;
	height: 20px;
	/*position: relative;*/
}

.line {
	width: 15%;
	height: 2px;
	background-color: #ffffff;
}
/*MAIN*/

/*PORTFOLIO*/

.main-section {
	height: 89vh;
	display: flex;
	margin-bottom: 3vh;
}

.potr {
	height: 8vh;
}

.buy-btn {
	align-self: center;
	font-size: 32pt;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.buy-btn span {
	display: block;
	transform: rotate(270deg);
}

.portfolio .main-nav {
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: 10%;
	margin: 10px 30px 10px auto;
}

.logo {
	font-size: 30pt;
}

.portfolio-container li {
	width: 29%;
	margin-bottom: 20px;
	/*margin-right: 5%;*/
}

.portfolio-container {
	height: 90vh;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: 2%;
	margin-top: 0;
	padding-left: 0;
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical; 
}

.portfolio-item-img {
	position: relative;
}

.portfolio-item-img img:hover {
	filter: brightness(40%);
}

.portfolio-item-img img {
	width: 100%;
}

.portfolio-item-img::after {
	display: none;
	content: "ПОДРОБНЕЕ";
	position: absolute;
	font-size: 2vw;
	transform: translate(50%, -350%);
}

.portfolio-item-img:hover::after {
	display: block;	
}

.portfolio-item-description,
.portfolio-item-title {
	margin: 3px;
	padding: 0;
}

.portfolio-item-description {
	font-size: 1vw;
}
/*PORTFOLIO*/


/*FOS*/
.fos {
	display: flex !important;
	height: 100vh;
	position: relative;
	width: 100% !important;
}

.fos-left {
	float: left;
}

.fos-left, .fos-right {
	width: 50%;
	height: 100vh;
}

.fos-right {
	background-color: #fafafa;
	float: right;
}

.fos input {
	border: 0;
	border-bottom: 1px solid #000000;
	padding: 0 10px 15px 0;
	font-size: 1.5vw;
	font-family: inherit;
	width: 80%;
	background-color: inherit;
	outline: none;
	margin-bottom: 5%;
}

.fos-right button {
	background: #1b1b1e;
	width: 60%;
	margin-left: 20%;
	font-size: 2.5vw;
	border-radius: 5px;
	padding: 8px 5px;
	margin-top: 10%;
	border: 2px solid #1b1b1e;
	cursor: pointer;
}

.fos-right button:hover {
	background: transparent;
	color: #1b1b1e;	
}

/*.text-terms_of_processing {
	color: #000000;
	padding-left: 30px;
}

/* The processing-personal-data */
.processing-personal-data {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 1.5vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000000;
}

/* Hide the browser's default checkbox */
.processing-personal-data input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fafafa;
  border: 1px solid #000000;
}

/* When the checkbox is checked, add a blue background */
.processing-personal-data input:checked ~ .checkmark {
  background-color: #fafafa;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.processing-personal-data input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.processing-personal-data .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submit-btn {
	border: 1px solid #000000;
	background-color: #000000;
	padding: 15px 80px;
	font-size: 1.5vw;
	font-family: Evolve Sans Medium EVO;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
}

.submit-btn:hover {
	border: 1px solid white;
	background-color: transparent;
	color: white;
}

.fos-left {
	padding: 3% 2%;
	box-sizing: border-box;
}

.fos-right {
	padding: 10% 5%;
	box-sizing: border-box;
}

.fos-left p:first-child {
	font-size: 9vw;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	margin-top: 13%;
}

.fos-left p:first-child::before {
	content: "веб-студия";
	position: absolute;
	top: -30%;
	left: 3%;
	font-size: 2vw;
	align-self: center;
}

.fos-left p:first-child::after {
	content: "AGENCY";
	position: absolute;
	top: 85%;
	right: 6%;
	font-size: 3vw;
}

.fos-left p:nth-child(2) {
	font-size: 3vw;
	text-align: center;
	margin: 13%;
}

.fos-left p:nth-child(3) {
	font-size: 2vw;
	text-align: center;
	margin: 0;
}

.fos-left p:nth-child(4) {
	font-size: 2vw;
	text-align: center;
	margin: 5%;
}

.fos-img {
	filter: invert(100%);
}

.fos .back {
	left: 10%;
}



/*FOS*/

/*SERVICES*/
.services {
	height: 100vh;
	position: relative;
	background-image: url('../img/Большой_круг(контур).png'),
					  url('../img/Векторный смарт-объект.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95vw 100vw,
					 50vw;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto 8% auto;
}

.about_min .main-nav {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto 0% auto;
}

.services-content {
	width: 70%;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
}

.logo {
	font-size: 2.8vw;
}

.service-title {
	font-size: 6vw;
	margin-bottom: 0;
}

.service-description {
	font-size: 1.5vw;
	line-height: 36px;
	color: #fafafa;
	font-weight: 300;
	text-align: center;
	margin: 70px auto;
}

.btn {
	width: 60px;
	height: 60px;
	position: absolute;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #fafafa;
	background-color: #fafafa;
	background-size: 50%;
}

.btn_active {
	background-color: #16161a !important;
}

.service-1-btn {
	top: 30%;
	left: 0.5%;
	background-image: url('../img/text_w.svg');
}

.service-2-btn {
	top: 50%;
	background-image: url('../img/internet.svg');
}

.service-3-btn {
	top: 70%;
	left: 0.5%;
	background-image: url('../img/design.svg');
}


.submit-btn {
	background-color: #fafafa;
	padding: 15px 50px;
	font-size: 2vw;
	border-radius: 5px;
	color: #1b1b1e;
	font-family: Evolve Sans Medium EVO;
	margin: 0 auto;
	align-self: center;
}
/*SERVISES*/

.red {
	color: #7d1212;
}

#about {
	/*#16161b ?*/
	background-color: #16181b;
	color: white;
	position: relative;
  	width: 100%;
  	height: 100vh;
}

.right-menu-img {
	width: 3%;
	position: absolute;
	right: 0.5%;
	top: 1.5%;
	cursor: pointer;
}

.right-menu {
	background: #16161b;
	width: 30%;
	height: 100vh;
	display: none;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 70%;
}

.right-menu a {
	color: white;
	text-decoration: none;
	font-size: 2.8vw;
	text-align: right;
}

.right-menu li {
	list-style-type: none;
	padding: 5%;
	text-align: right;
	padding-right: 70px;
}

.menu-close {
	width: 7%;
	padding: 2% 0 0 91%;
}

#about p:first-child {
	font-size: 30px;
}

.about_main {
	background: #fafafa;
	height: 75vh;
	color: black;
	padding: 3% 5%;
	text-align: center;
	margin: 5% 0;
	box-sizing: border-box;
}

.about_main p:first-child {
	font-size: 3vw;
}

.about_main p:nth-child(2), .about_main p:nth-child(3) {
	font-size: 2.1vw;
}

.bottom {
	transform: rotate(90deg);
	filter: invert(100%) !important; 
}

.about_team {
	width: 100%;
	background-color: black !important;
	height: 100vh;
}

.about {
	position: relative;
  	width: 100%;
  	height: 100vh;
}

.team_name {
	text-align: center;
	font-size: 4vw;
	z-index: 1001;
}

.teams {
	display: flex;
	margin: 1% 3%;
	width: 100%;
}

.team_col {
	width: 20%;
	z-index: 999;
}

.team {
	margin-bottom: 15%;
	padding: 5%;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1000;
}

.team:hover {
	border-left: 1px solid white;
}

.team:hover .example {
	visibility: auto;
}

.team p:nth-child(1) {
	font-weight: 900;
	font-size: 2vw;
}

.team p:nth-child(2) {
	margin-top: 10px;
	font-size: 1.3vw;
}

#about_min {
	height: 100vh;
	position: relative;
	background-image: url('../img/Большой_круг(контур).png'),
					  url('../img/Векторный смарт-объект.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95vw 100vw,
					 50vw;
}

/*#about_min p:nth-child(1) {
	font-size: 24px;
	padding: 1%;
}*/

#about_min h3 {
	font-size: 6vw;
	margin: 10% 8% 3% 8%;
	font-family: Evolve Sans Thin EVO;
}

#about_min p {
	font-size: 24px;
	text-align: center;
	margin: 3% 8%;
	line-height: 1.5;
}

.btn-next-left {
	width: 50px;
	height: 50px;
	background: transparent url('../img/btn-next-left.png') no-repeat center;
	position: absolute;
	left: 0;
	top: 50%;
}

.about-min-slide-nav {
	position: absolute;
	bottom: 0;
	left: 35%;
}

.services-content {
	display: none;
}

.active {
	display: block !important;
}

.back {
	position: absolute;
	height: 100%;
	top: 10%;
	opacity: 0.02;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zakaz {
	display: none;
	position: absolute;
	height: 70%;
	top: 15%;
	width: 50%;
	left: 525%;
	background: white;
	color: black;
	z-index: 1000;
	padding: 2%;
	box-sizing: border-box;
	border-radius: 10px;
}

.zakaz p {
	font-size: 2vw;
	text-align: center;
	margin-bottom: 5%;
	font-family: Evolve Sans Thin EVO;
}

.zakaz input {
	border: 0;
	border-bottom: 1px solid #000000;
	padding: 0 10px 15px 0;
	font-size: 1.3vw;
	font-family: inherit;
	width: 80%;
	background-color: inherit;
	outline: none;
	margin-bottom: 5%;
	margin-left: 10%;
}

.zakaz button {
	background: #1b1b1e;
	width: 60%;
	margin-left: 20%;
	font-size: 2vw;
	border-radius: 5px;
	padding: 8px 5px;
	margin-top: 2%;
	border: 2px solid #1b1b1e;
	cursor: pointer;
	color: white;
}

.zakaz button:hover {
	background: transparent;
	color: #1b1b1e;	
}

.fa-times {
	position: absolute;
	right: 2%;
	top: 2%;
	cursor: pointer;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #161619;
	z-index: 1000000000;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
}

.loader {
	width: 150px;
	height: 150px;
	border: 10px solid white;
	border-radius: 50%;
	border-top-color: #7d1212;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	animation: 2s spin infinite linear;
}

.done {
	opacity: 0;
	visibility: hidden;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

::selection {
background: #ca4b48; /* Safari */
color: white;
}
::-moz-selection {
background: #ca4b48; /* Firefox */
color: white;
}

.example {
	position: absolute;
	opacity: 0.7;
	top: 50%;
	left: 50%;
	height: 100%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	z-index: 1 !important;
}

#about_team_mob {
	display: none;
}







@media screen and (max-width: 1100px) {

	.big_circle {
		width: 99%;
	}

	.small_circle {
		width: 90%;
	}

}



@media screen and (max-width: 900px) {

	body {
		overflow-y: auto !important;
		overflow-x: hidden !important;
		width: 100%;
		height: 100%;
	}

	::-webkit-scrollbar{
	    width: 0px;
	}

	.big_circle {
		display: none;
	}

	.small_circle {
		display: none;
	}

	.main {
		height: 50vh;
	}

	.fos {
		height: 100%;
		display: block !important;
	}

	.fos-left, .fos-right {
		float: none;
		width: 100%;
		height: 100%;
	}

	.about_main {
		height: 100%;
		padding: 3% 5%;
		margin: 5% 0;
	}

	.about_main p:first-child {
		font-size: 7vw;
	}

	.about_main p:nth-child(2), .about_main p:nth-child(3) {
		font-size: 4vw;
	}

	.about {
		position: relative;
	  	width: 100%;
	  	height: 100%;
	}

	.potr {
		height: 100%;
	}

	.about, .portfolio, .fos, .services, .about_min, .main {
		overflow: visible;
	}

	#about .right-menu-img, .portfolio .right-menu-img, .fos .right-menu-img, .services .right-menu-img, .about_min .right-menu-img {
		display: none;
	}

	#about .right-menu, .portfolio .right-menu, .fos .right-menu, .services .right-menu, .about_min .right-menu {
		display: none;
	}

	.main .right-menu-img {
		position: fixed;
		width: 8%;
		right: 0.5%;
		top: 1.5%;	
		cursor: pointer;
		z-index: 10000;
	}

	.main .right-menu {
		height: 200vh;
	}

	#about {
		height: 100%;
	}

	.about_team {
		height: 100%;
	}

	.portfolio {
		display: none;
	}

	.right-menu {
		background: #16161b;
		width: 100%;
		height: 100vh;
		display: none;
		z-index: 1000000;
		position: fixed;
		top: 0;
		left: 0;
	}

	.right-menu a {
		font-size: 7vw;
	}

	.fos-left p:first-child {
	font-size: 16vw;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	margin-top: 13%;
}

.fos-left p:first-child::before {
	content: "веб-студия";
	position: absolute;
	top: -30%;
	left: 12%;
	font-size: 6vw;
	align-self: center;
}

.fos-left p:first-child::after {
	content: "AGENCY";
	position: absolute;
	top: 85%;
	right: 12%;
	font-size: 8vw;
}

.fos-left p:nth-child(2) {
	font-size: 6vw;
	text-align: center;
	margin: 13%;
}

.fos-left p:nth-child(3) {
	font-size: 5vw;
	text-align: center;
	margin: 0;
}

.fos-left p:nth-child(4) {
	font-size: 6vw;
	text-align: center;
	margin: 10%;
}

.fos input {
	font-size: 5vw;
}

.fos-right button {
	font-size: 5vw;
}

.processing-personal-data {
  font-size: 4.5vw;
}

.main_title {
	font-size: 16vw;
	letter-spacing: 5px;
	position: relative;
	margin: 0;
	padding: 0;
}

.main_title::before {
	content: "веб-студия";
	position: absolute;
	top: -30%;
	left: 0%;
	font-size: 6vw;
	align-self: center;
}

.main_title::after {
	content: "AGENCY";
	position: absolute;
	top: 85%;
	right: 3%;
	font-size: 7vw;
}

.fos-left .back {
	display: none;
}

.name {
	display: none;
}

.about_team {
	display: none;
}

.main {
	padding: 0;
	margin: 0;
}

#about_team_mob {
	display: block;
}

#about_team_mob {
	display: block;
}

#team_car img {
	width: 30%;
	border-radius: 1000000px;
	float: left;
	margin-right: 5%;
}

#team_car div {
	width: 100%;
}

.services {
	height: 100%;
	position: relative;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95vw 100vw,
					 50vw;
}

.services-content {
	width: 100%;
}

.btn {
	width: 60px;
	height: 60px;
	position: relative;
	display: block;
}

.service-1-btn {
	background-image: url('../img/text_w.svg');
}

.service-2-btn {
	background-image: url('../img/internet.svg');
}

.service-3-btn {
	background-image: url('../img/design.svg');
}

.service-title {
	font-size: 13vw;
	margin-bottom: 0;
	text-align: center;
}

.service-description {
	font-size: 4.5vw;
	line-height: 30px;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 8%;
}

.submit-btn {
	padding: 15px 0;
	width: 80%;
	font-size: 5vw;
	margin-left: 10%;
	margin-top: 0;
	margin-bottom: 30px;
}

.but {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin-left: 15%;
	margin-top: 4%;
}

.zakaz {
	display: none;
	position: absolute;
	height: auto;
	top: 15%;
	width: 90%;
	left: 5%;
	background: white;
	color: black;
	z-index: 1000;
	padding: 2%;
	box-sizing: border-box;
	border-radius: 10px;
}

.zakaz p {
	font-size: 7vw;
	text-align: center;
	margin-bottom: 5%;
	font-family: Evolve Sans Thin EVO;
}

.zakaz input {
	border: 0;
	border-bottom: 1px solid #000000;
	padding: 0 10px 15px 0;
	font-size: 4vw;
	font-family: inherit;
	width: 80%;
	background-color: inherit;
	outline: none;
	margin-bottom: 5%;
	margin-left: 10%;
}

.zakaz button {
	background: #1b1b1e;
	width: 60%;
	margin-left: 20%;
	font-size: 5vw;
	border-radius: 5px;
	padding: 8px 5px;
	margin-top: 2%;
	border: 2px solid #1b1b1e;
	cursor: pointer;
	color: white;
}

#about_min {
	height: 100%;
	position: relative;
	background-image: none;
}

.btn-next-left {
	display: none;
}

.btn-next-right {
	display: none;
}

section {
	position: relative !important;
}

#portfolio_mob {
	display: block;
}

#port_car img {
	width: 80%;
	margin-right: 10%;
}

#port_car h3 {
	text-align: center;
}

#port_car p {
	text-align: center;
}


}


















